#wrapperResume {
    #profilePicture {
        height: 100px;
    }
    #profileParagraph {
        padding: 15px 30px;
    }

    .skillsRow {
        padding-bottom: 15px;
    }
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

